@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --video-shadow-color: rgba(230, 0, 0, 0.2);
  --pulse-shadow-color: rgba(246, 38, 38, 0.4);
  --pulse-mid-shadow-color: rgba(43, 5, 1, 0.8);
  --scroll-banner-before-background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  --scroll-banner-after-background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  --custom-border-red: #861010;
  --custom-hover-border-red: #bb2020;
  --glow-red-shadow-color: rgba(255, 0, 0, 0.5);
}

[data-bs-theme="light"] {
  --video-shadow-color: rgba(200, 0, 0, 0.2);
  --pulse-shadow-color: rgba(220, 30, 30, 0.4);
  --pulse-mid-shadow-color: rgba(255, 180, 180, 0.8);
  --scroll-banner-before-background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --scroll-banner-after-background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --custom-border-red: #d02020;
  --custom-hover-border-red: #ff4040;
  --glow-red-shadow-color: rgba(255, 50, 50, 0.5);
}

[data-bs-theme="light"] .text-gray-300 {
    color: rgb(100 105 110) !important;
}

[data-bs-theme="light"] .text-gray-400:not(.card-text) {
  color: rgb(80 90 100) !important;
}

[data-bs-theme="light"] .text-gray-200:not(.card-text) {
  color: rgb(185 190 195) !important;
}

@layer base {
  body {
    @apply bg-black text-gray-100;
  }
}

.bg-white {
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-red-800;
}

.video-container {
  @apply relative w-full aspect-video overflow-hidden rounded-lg shadow-2xl;
  box-shadow: 0 0 50px var(--video-shadow-color);
}

.hero-card {
  @apply backdrop-blur-lg bg-black/40 rounded-xl p-6 border border-red-500/20;
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 100px var(--pulse-shadow-color);
  }
  50% {
    box-shadow: 0 0 150px var(--pulse-mid-shadow-color);
  }
}

.scroll-banner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.scroll-banner::before,
.scroll-banner::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 1;
}

.scroll-banner::before {
  left: 0;
  background: var(--scroll-banner-before-background);
}

.scroll-banner::after {
  right: 0;
  background: var(--scroll-banner-after-background);
}

.scroll-banner-content {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 13s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-banner img {
  height: 175px;
  width: 200px;
  margin-right: 6rem;
  display: inline-block;
  opacity: 0.8;
}

.container {
  @apply border border-red-800 transition-colors duration-300;
}

.container:hover {
  @apply border-red-600;
}

/* Classes pour les cartes de management */
.custom-border-red {
  border-color: var(--custom-border-red) !important;
}

.custom-hover-border-red:hover {
  border-color: var(--custom-hover-border-red) !important;
}
