@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-gray-100;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-rose-400 to-red-800;
}

.video-container {
  @apply relative w-full aspect-video overflow-hidden rounded-lg shadow-2xl;
  box-shadow: 0 0 50px rgba(230, 0, 0, 0.2);
}

.hero-card {
  @apply backdrop-blur-lg bg-black/40 rounded-xl p-6 border border-red-500/20;
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 100px rgba(246, 38, 38, 0.4);
  }
  50% {
    box-shadow: 0 0 150px rgba(43, 5, 1, 0.8);
  }
}

#test {
  margin-top: 5rem;
}

.scroll-banner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.scroll-banner::before,
.scroll-banner::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 1;
}

.scroll-banner::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.scroll-banner::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.scroll-banner-content {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 13s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-banner img {
  height: 175px;
  width: 200px; 
  margin-right: 6rem; 
  display: inline-block;
  opacity: 0.8;
}

.custom-border-red {
  border-color: #861010 !important;
}

.custom-hover-border-red:hover {
  border-color: #bb2020 !important; 
}

.glow-red {
  box-shadow: 0 0 100px 1px rgba(255, 0, 0, 0.5); /* Red glow */
}

.container {
  @apply border border-red-800 transition-colors duration-300;
}

.container:hover {
  @apply border-red-600;
}
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

.animate-carousel {
  animation: carousel linear infinite;
  will-change: transform;
}
